body {
  background-color: black;
  font-family: arial;
  color: black;
}
h1 {
  color: grey;
  font-family: verdana;
  text-align: center;
  vertical-align: middle;

}
.maindiv {
  background-color: white;
  color: white;
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
  color: black;
  display: inline-block;
}

input[type=text,range]#years{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  padding: 5px 10px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  width: 150px;
}

button[type=submit]:hover {
  background-color: yellow;
  align-text: center;
}
#result {
  color: black;
}
.highlight {
  background-color:yellow;
  padding:0.1em 0.2em;
}
